.container {
    display: grid;
    height: 300px;
    width: 600;
    border: 1px solid black;
    grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
    grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
}

.item-a {
    background-color: blanchedalmond;
    grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: -1;
}

.item-b {
    /* background-color: rgb(23, 128, 119);
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: 3;
    grid-row-end: 9; */
}

.item-c {
    /* background-color: blanchedalmond;
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 3; */
}